.timeline__container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    position: relative;
}

.timeline__item {
    display: flex;
    justify-content: center; /* Centers horizontally */
    /* align-items: center; Centers vertically */
    position: relative;
}
.timeline__item-event,
.timeline__item-sign,
.timeline__item-time{
    display: flex;
    justify-content: center; /* Center each section (sign, interval, event) */
    align-items: center; /* Vertically center within the section */
    height: 100px;
}

/* Individual widths */
.timeline__item-sign {
    width: 100px; /* Width for sign */
    padding: 10px 0px 0px 0px
}

.timeline__item-time {
    width: 160px; /* Width for time */
    padding: 5px 0px 0px 0px
}

.timeline__item-event {
    width: 160px; /* Width for event */
    padding: 10px 0px 0px 0px
}


.timeline__item-time-line {
    width: 1px;
    border-right: 1px dotted #000;
    min-height: 30px;
    opacity: .4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline__item-time-line:after {
    content: "";
    display: flex;
    min-width: 9px;
    min-height: 9px;
    border: 1px solid #000;
    background: #eae5ea;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    left: -4px
}

.timeline__item-hours {
    display: inline-flex;
    text-align: right;
    padding: 0 5px 4px 0
}
.timeline__item-minutes {
    display: flex;
    text-align: left;
    padding: 0 0 4px 0px
}

.timeline__item-hours,.timeline__item-minutes {
    font-size: 45px;
    height: 60px;
    font-weight: 200;
    width: 60px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #d2d0d1
}


.timeline__item-day-part {
    display: flex;
    font-size: 35px;
    font-weight: 200;
    padding-top: 10px;
    min-width: 50px;
    white-space: nowrap
}

.timeline__item-dots {
    font-size: 45px;
    font-weight: 200;
    position: relative;
    top: -3px
}

.timeline__item-duration {
    height: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #6b5353;
    font-size: 10px;
    margin-bottom: 10px;
    width: 180px; /* Adjust to desired width */
    display: inline-block;
    text-align: center; /* Ensures text stays centered */
    white-space: nowrap; /* Prevents text from wrapping */
}

.timeline__item-duration span {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.timeline__item-sign,
.timeline__item-icon,
.timeline__item-icon img,
.timeline__item-interval,
.timeline__item-time,
.timeline__item-hours,
.timeline__item-dots,
.timeline__item-minutes,
.timeline__item-time-line,
.timeline__item-event,
.bp3-editable-text,
.bp3-editable-text-content {
    color: var(--dark-orange);
    font-weight: 350;
    border-color: var(--dark-orange); /* if you want borders colored too */
    fill: var(--dark-orange); /* for SVG or icons */
}

.timeline__item-icon img {
    filter: brightness(0) saturate(100%) invert(40%) sepia(100%) saturate(500%) hue-rotate(5deg);
  }