
.timeline__container {
    content: "";
    display: block;
    height: 4px;
    background: #000;
    width: 40px;
    margin: 15px auto;
    opacity: .6
}

.timeline__element {
    position: relative;
    background-color: hsla(0,0%,100%,0);
    transition: background-color 1s
}

.timeline__item-published {
    background-color: hsla(0,0%,100%,.5)
}

.timeline__item {
    display: flex;
    justify-content: space-between
}

.timeline__item-sign {
    min-width: 65px;
    width: 65px;
    max-height: 45px;
    display: flex;
    align-items: center;
    position: relative;
    top: 25px
}

.timeline__item-interval {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11px
}

.timeline__item-time {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px
}

.timeline__item-time-line {
    width: 1px;
    border-right: 1px dotted #000;
    min-height: 30px;
    opacity: .4;
    margin-left: 15px;
    position: relative
}

.timeline__item-time-line:after {
    content: "";
    display: flex;
    min-width: 9px;
    min-height: 9px;
    border: 1px solid #000;
    background: #eae5ea;
    border-radius: 100%;
    position: absolute;
    top: 41px;
    left: -4px
}

.timeline__item-hours {
    display: inline-flex;
    text-align: right;
    padding: 0 5px 0 0
}

.timeline__item-hours,.timeline__item-minutes {
    font-size: 45px;
    height: 60px;
    font-weight: 200;
    width: 70px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #d2d0d1
}

.timeline__item-minutes {
    display: flex;
    text-align: left;
    padding: 0 0 0 5px
}

.timeline__item-day-part {
    display: flex;
    font-size: 35px;
    font-weight: 200;
    padding-top: 10px;
    min-width: 50px;
    white-space: nowrap
}

/* .timeline__item-hours:hover,.timeline__item-minutes:hover {
    background: hsla(0,0%,100%,.5)
} */

/* .timeline__item-hours:focus,.timeline__item-minutes:focus {
    background: hsla(0,0%,100%,.5);
    border-bottom: 1px solid #8d8074
} */

.timeline__item-dots {
    font-size: 45px;
    font-weight: 200;
    position: relative;
    top: -3px
}

.timeline__item-duration {
    height: 100%;
    padding-bottom: 10px;
    padding-left: 15px;
    color: #6b5353;
    font-size: 10px;
    text-align: left;
    margin-bottom: 10px;
    width: 120px; /* Adjust to desired width */
    display: inline-block;
    text-align: center; /* Ensures text stays centered */
    white-space: nowrap; /* Prevents text from wrapping */
}

.timeline__item-duration span {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timeline__item-day-part:hover,.timeline__item-duration span:hover {
    background-color: hsla(0,0%,100%,.5);
    cursor: pointer
}

.timeline__item-event {
    width: 100%;
    text-align: left;
    padding: 36px 20px 5px;
    font-size: 15px
}

.timeline__item-event .bp3-editable-text {
    border-bottom: 1px solid #d2d0d1
}

.timeline__item-event .bp3-editable-text:hover {
    background: #ffffff80
}

.timeline__item-settings {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transform: rotate(90deg);
    transition: opacity .2s
}

.timeline__element:hover .timeline__item-settings {
    opacity: 1
}

.timeline__item-published .timeline__item-settings {
    top: 0;
    right: 0
}

.timeline__item-published-note {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 0;
    margin: 0
}

.timeline__item_highlight,.timeline__item_highlight_published {
    background-color: hsla(0,0%,100%,0);
    animation-name: timeline__highlight;
    animation-duration: 4s;
    animation-iteration-count: 1
}

.timeline__item_highlight_published {
    background-color: hsla(0,0%,100%,.5);
    animation-name: timeline__highlight_published
}